.body {
  font-family: "Montserrat";
  text-align: center;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: white;


}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat";
  font-weight: 900;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

.container1 {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* Download Button */
.download-button {
  margin: 30px 3px 30px 0;
}

/* Dog Image */
.dogImage {
  transform: rotate(26deg);
  position: absolute;
  height:75%;
  right: 20%;

}

@media (max-width: 1028px) {

  #title{
    text-align:center;
  }
  .dogImage{
    position:static;
    transform: rotate(0);
  }
}

/* Section2 */


.container2 {
  padding: 5% 2%;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-title{
  font-size: 1.5rem;
}


.description2 {
  padding: auto 17%;
  color: #8f8f8f;
}

.col2 {
  padding: 10% auto;
  text-align: center;
}

.fas {
  color: #ef8172;
}

.fa-4x:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}

.press-logo {
  width: 15%;
  margin: 20px 20px;
}

/* Pricing */

#pricing {
  padding:100px;
  text-align: center;
}

.priceText{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}

/* cta */

#cta{
  background-color: #ff4c68;
  color: white;
  text-align: center;}

  .ctaHeading{
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
  padding: 7% 15%;
  font-size: 3.5rem;
}

.cta-button {
  margin: 30px 3px 80px 10px;
}

/* footer */

#footer{
  background-color: #fff;
  text-align: center;
  padding:7% 15%;
}

.footerPic{
  margin-left: 20px;
}
